body {
  font-weight: bold;
  height: 100%;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.377),
      rgba(24, 23, 23, 0.452)
    ),
    url("https://s3.abcstatics.com/abc/www/multimedia/deportes/2024/06/11/balon-eurocopa-2024-RWzbLOYzTcObEBewFbqRwjP-1200x840@diario_abc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  color: #fff;
}
.listaGrupo {
  list-style: none;
}
.arco {
  margin: 0 auto;
  background-image: url("../assets/img/direccionDisparo/arco.jpeg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 31.25rem;
  width: 31.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}
